.btn {
    font-size: 16px;
    line-height: 42px;
    display: inline-block;
    padding: 0 24px;
    border: solid 1px #EE693F;
    border-radius: 4px;
    transition: all 0.3s ease-in;
}
    .btn:hover {
        background-color: #EE693F;
        color: white;
    }
.btn--white {
    background-color: transparent;
    padding: 12px 15px;
    border-radius: 2px;
    border:1px solid white;
    color: white;
    transition: all 0.3s ease-in;
}
    .btn--white:hover {
        background-color: #E5E5E5;
        color: #00974D;
    }
.btn--solid {
    position: relative;
    left: 45.5%;
    right: 45.5%;
    transform: translate(-50%, -50%);
    background: #EE693F;
    color: white;
    text-align: center;
    top: 67px;
    border-radius: 2px;
    padding: 13px 12px;
    transition: all 0.3s ease-in;
}
    .btn--solid:hover {
        background-color: #E5E5E5;
        color: #EE693F;
    }
