@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Paytone+One&display=swap');
:root {
    --mainColor: #EE693F;
  }
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #383838;
}

h1, h2, h3, h4 {
    font-family: 'Paytone One', -apple-system, BlinkMacSystemFont, sans-serif;
}

h1 {
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
}

h3 {
    font-size: 18px;
}

h4 {
    padding: 0;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 13px;
    margin-bottom: 0;
    margin-left: 300px;
}

a {
    text-decoration: none;
    color: #ee693f;
}
.header-links {
    color: #ffffff;
    font-size: 14px;
}

.link1 {
    text-decoration: underline;
    margin-left: 79px;
}

.color {
    background:
        linear-gradient(
            var(--mainColor) 0%,
            var(--mainColor) 100%
        );
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 4px 2px;
    color: white;
    transition: 0.4s ease-in-out;
}
    .color:hover {
        background-size: 4px 100%;
    }
    ul>li {
        margin-left: 2%;
    }
    .lists>li {
        display: block;
        text-align: left;
        margin-bottom: 12px;
        margin-left: 0;
    }

.top-footer-txt {
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0;
    line-height: 0;
}